<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-light rounded-3 shadow-sm"
  style="width: 180px; height: 100%"
>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link link-dark">
        <i class="fa-solid fa-house bi me-2" width="16" height="16"></i>
        Home
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fa-solid fa-gauge bi me-2" width="16" height="16"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fa-solid fa-table-cells bi me-2" width="16" height="16"></i>
        Orders
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fa-solid fa-cubes bi me-2" width="16" height="16"></i>
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fa-solid fa-house bi me-2" width="16" height="16"></i>
        Customers
      </a>
    </li>
  </ul>
</div>
